/*custom*/
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/* css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #000000 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/*********************************css NavBar **************************/
nav.navbar {
  padding: 0px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
  
}


/****************navbar color tab****************/


nav.navbar.scrolled {
  padding: 0px 0;
  

}

nav.navbar a.navbar-brand {
  width: 7%;

}


nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: aqua !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 25px;
  font-weight: 1000;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link:active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  
}

@media (max-width: 1000px) {
  .social-icon {
    margin-top: 20px; /* เพิ่มระยะห่างจากลิงก์เฉพาะในจอเล็ก */
  }
}

.social-icon a {
  width: 50px;
  height: 50px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: ipx solid rgba(255, 255, 255, 0.5);
}

/***************************เปลี่ยน tap bar โทรศัพท์*********************************/





/********************************************interact*********************************************/





/* ปรับ Navbar */
/* เมื่อ Navbar ขยาย (toggle) เพิ่มพื้นหลัง */
/* พื้นหลังของ Navbar แบบ Galaxy (gradient สีมืดที่ไล่สีไปยังสีน้ำเงินและม่วง) */

/* เมื่อเลื่อนลง Navbar จะคงสีเดิม */


/* เพิ่มพื้นหลังเบลอให้เมนูแบบ Dropdown */

/* Galaxy Background */
.navbar {

  background-size: 400% 400%;
  animation: galaxyBackground 15s ease infinite;

}

.offcanvas {
  background: linear-gradient(45deg, #00c6ff, #0072ff, #5f4b8b); /* กาแล็กซี่สีฟ้า */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; /* จัดให้เนื้อหากลางแนวตั้ง */
  align-items: center; /* จัดให้อยู่กึ่งกลางตามแนวนอน */
  transform: translateY(30%); /* ขยับเนื้อหาลงมา */
  height: 100vh; /* ใช้ความสูงเต็มหน้าจอ */
  padding: 50px;; /* เพิ่ม padding-top เพื่อให้เนื้อหาขยับลง */
}

.offcanvas-body .navbar-link {
  color: #fff;
  transition: color 0.3s;
  background: linear-gradient(45deg, #00c6ff, #0072ff, #5f4b8b); /* กาแล็กซี่สีฟ้า */
  margin: 10px 0; /* ระยะห่างระหว่างเมนู */
  padding: 10px 20px; /* เพิ่ม padding สำหรับปุ่ม */
  border-radius: 5px; /* ทำให้มุมปุ่มโค้ง */
  text-align: center;
}

.offcanvas-body .social-icon a img {
  filter: brightness(0) invert(1);
}



.resume-bx {
  background-color: #ffd700;
  color: #1a0033;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: bold;
  transition: transform 0.3s;

}

.resume-bx:hover {
  transform: scale(1.1);

}

/* Galaxy Animation */
@keyframes galaxyBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Starry Effects */
body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.2;
  z-index: -1;
}


.navbar-collapse {
  background: rgba(0, 0, 0, 0.5);
  /* พื้นหลังโปร่งแสง */
  backdrop-filter: blur(10px);
  /* เบลอพื้นหลัง */
  
}



.navbar-link:hover,
.navbar-link.active {
  color: #ff00ff;
  /* สีสว่างที่เหมือนแสงดาว เมื่อ hover หรือ active */
}




.resume-bx:hover {
  background-color: #7a52a1;
  /* เปลี่ยนสีปุ่มเมื่อ hover */

}

/* เพิ่มการตกแต่งแสงดาวที่เป็นภาพ */
.navbar {
  background: url('https://path/to/your/galaxy-background.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* กำหนดให้ปุ่ม My Resume ใช้สีสดใส */
.resume-bx b span {
  color: #ff00ff;

}




/* ปรับตำแหน่งของ navbar links และ social icon */
.navbar .navbar-text {
  display: flex;
  justify-content: space-between;
  /* จัดตำแหน่งให้อยู่ด้านข้าง */
  width: 100%;

}

/* ปรับตำแหน่งของ social icon */
.navbar .social-icon {
  display: flex;
  gap: 10px;
}

/* Social Media Icons */
.social-icon a img {
  width: 24px;
  height: 24px;
}

/* ปุ่ม Resume */
.resume-bx {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  overflow: hidden;
  /* ป้องกันเกินกรอบ */
  white-space: nowrap;
  /* ป้องกันข้อความล้นบรรทัด */
}

.resume-bx span {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.resume-bx:hover {
  background-color: #5149d3;
  /* เปลี่ยนสีเมื่อชี้ */
}

.resume-bx:hover span {
  transform: scale(1.1);
  /* ขยายข้อความ */
}

.resume-bx:focus {
  outline: none;
  /* เอาเส้นรอบออกเมื่อคลิก */
}


/* Media Queries สำหรับหน้าจอเล็ก */
/* สำหรับหน้าจอขนาดเล็ก (มือถือ) */

@media (max-width: 991px) {
  .navbar-right {
    
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
  }
}

.social-icon a::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: aqua;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 2px solid aqua;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  margin-top: 10px;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: aqua;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid aqua;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid aqua;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: aqua;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: aqua;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: aqua;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/************************************** Banner Css *************************************/
/*  background-image: url('./assets/img/banner-bg.png');  */
/* object-fit: cover; ทำให้เต็มขณะ zoom */

.banner {
  padding: 0 0 50px 0;
  position: sticky;

}

.main {
  width: 100%;
  height: 100%;

}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  left: 0;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /* Ensure the video is behind other content */
}

.content {

  color: aqua;
  margin-top: 140px;
  padding: 60px 50px;

  border-radius: 64px;
  text-align: center;

}

/********************************************banner css Hello *******************************/

.fade-text {
  opacity: 0;
  animation: fadeInOut 4s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(45deg, #00c6ff, #0072ff, #5f4b8b);
  /* กาแล็กซี่สีฟ้า */
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}


/********************************* ปุ่ม MORE *************************/
/* สไตล์สำหรับปุ่ม More */
.banner button {
  background: linear-gradient(45deg, #00c6ff, #0072ff, #5f4b8b);
  /* กาแล็กซี่สีฟ้า */
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.6s ease, box-shadow 0.6s ease, transform 0.3s ease;
  /* เพิ่ม transition ให้ smooth */
  box-shadow: 0 0 20px rgba(0, 204, 255, 0.7), 0 0 40px rgba(0, 204, 255, 0.5), 0 0 80px rgba(0, 204, 255, 0.3);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(0, 204, 255, 0.9), 0 0 15px rgba(0, 204, 255, 0.6);
}

/* สไตล์เมื่อ hover ที่ปุ่ม */
.banner button:hover {
  background: linear-gradient(45deg, #5f4b8b, #00c6ff, #0072ff);
  /* เปลี่ยนสีเมื่อ hover */
  box-shadow: 0 0 40px rgba(0, 204, 255, 1), 0 0 60px rgba(0, 204, 255, 0.8), 0 0 100px rgba(0, 204, 255, 0.7);
  transform: scale(1.05);
  /* ขยายขนาดปุ่มเมื่อ hover */
}

/* สไตล์เมื่อคลิกที่ปุ่ม */
.banner button:active {
  transform: scale(0.95);
  /* ขนาดลดลงเล็กน้อยเมื่อคลิก */
  box-shadow: 0 0 10px rgba(0, 204, 255, 1), 0 0 30px rgba(0, 204, 255, 0.8);
}

/* สไตล์สำหรับลูกศรในปุ่ม */
.banner button svg {
  margin-left: 10px;
  /* เว้นระยะห่างระหว่างข้อความกับลูกศร */
  transition: transform 0.3s ease-in-out;
  /* เพิ่ม transition เมื่อ hover */
}

/* สไตล์เมื่อ hover ที่ลูกศร */
.banner button:hover svg {
  transform: scale(1.1);
  /* ขยายขนาดลูกศรเมื่อ hover */
}


/************************************ตัว logo ขยับได้********************************/
.banner img {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}


/*********************************** Skills Css *****************************************/
.skill {
  padding: 0 0 50px 0;
  position: sticky;

}

.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  position: relative;
}

.skill h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.skill p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item img {
  width: 45%;
  margin: 0 auto 15px auto;
}

/* กำหนดสไตล์ทั่วไปสำหรับลูกศร */
.react-multi-carousel-arrow {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  /* สีพื้นหลัง */
  color: white;
  /* สีตัวอักษร */
  border-radius: 50%;
  /* ปรับเป็นวงกลม */
  width: 40px;
  /* ความกว้าง */
  height: 40px;
  /* ความสูง */
  cursor: pointer;
}

/* ลูกศรซ้าย */
.react-multi-carousel-arrow--left {
  left: -60px;
  /* เพิ่มระยะห่างจาก Carousel ด้านซ้าย */
  top: 50%;
  /* จัดให้อยู่ตรงกลางแนวตั้ง */
  transform: translateY(-50%);
}

/* ลูกศรขวา */
.react-multi-carousel-arrow--right {
  right: -60px;
  /* เพิ่มระยะห่างจาก Carousel ด้านขวา */
  top: 50%;
  transform: translateY(-50%);
}




.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}




/************************************ CertificateCard Css 
.certificate-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: 30px;
}
******************************************/

.certificate {
  padding: 0 0 50px 0;
  position: sticky;

}

.certificate-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;


}

.certificate h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.certificate p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.certificate .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}

.certificate .nav.nav-pills .nav-item {
  width: 33.33333%;
}

.certificate .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.certificate .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.certificate .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.nav-link#certificate-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}

.nav-link#certificate-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link#certificate-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}

.certificate-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  margin-top: 24px;
}

.certificate-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.certificate-imgbx:hover::before {
  height: 100%;
}

.certificate-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.certificate-imgbx:hover .certificate-txtx {
  top: 50%;
  opacity: 1;
}

.certificate-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.certificate-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/************ certificate Css ************
.contact {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 60px 0 200px 0;
}

.contact img {
  width: 92%;
}

.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}

.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: #fff;
}

.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
  width: 100%;
}

/************ Footer Css ************
.footer {
  padding: 0 0 50px 0;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-bx {
  background: #FFFFFF;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}

.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}

.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}

.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}

.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}

.new-email-bx button {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}

.footer img {
  width: 26%;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

/*start*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}